# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-@$^k6^oryaw49wa&fj750xne^ify4hrst_=n6_u6^xw$f$98w9

# Database Configuration
# DATABASE_URL=postgres://user:password@localhost:5432/dbname
DATABASE_URL=postgres://postgres:postgres@localhost:5432/marmitaria

# External Services
# CACHE_URL=redis://localhost:6379/1
